.navLink {
  position: relative;
  overflow: hidden;
  border-radius: unset;
  padding-bottom: 4px;
  transition: color 0.2s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: translateY(4px);
    transition: transform 0.3s ease;
  }

  &:not(.active) {
    &:hover {
      &::after {
        transform: translateY(0);
      }
    }
  }

  &.active {
    font-weight: 500;
    &::after {
      transform: translateY(0);
    }
  }
}
